<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @advert.name %>
</p>

<p>
  <b>Description:</b>
  <%= @advert.description %>
</p>

<p>
  <b>Slug:</b>
  <%= @advert.slug %>
</p>


<%= link_to 'Edit', edit_advert_path(@advert) %> |
<%= link_to 'Back', adverts_path %>
